* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;

    font-family:Arial, Helvetica, sans-serif;
}

body{
    background: linear-gradient(rgb(160, 211, 253), white);
    color: rgb(0, 0, 0);
    justify-content: center;
    min-height: 100vh;
    }

header{
    background-color: rgb(70, 70, 70);
    color: aliceblue;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 1%;
}

#map{
    position: absolute;
    top: 9%;
    left: 23%;
    right: 13%;

}

.city{
    color: rgb(0, 0, 0);
    width: 8%;
    height: 4%;
    text-align: center;
    font-size:1.6vw;
    font-weight: 900;
 }


#tallinn{
    position: absolute;
    left: 30%;
    bottom: 80%;
}

#tartu{
    position: absolute;
    left: 57%;
    bottom: 42%;
}

#parnu{
    position: absolute;
    left: 30%;
    bottom: 45%;
}

#narva{
    position: absolute;
    left: 70%;
    bottom: 75%;
}

#voru{
    position: absolute;
    left: 63%;
    bottom: 20%;
}

#kuressaare{
    position: absolute;
    left: 5%;
    bottom: 40%;
}

#kardla{
    position: absolute;
    left: 9%;
    bottom: 68%;
}

#paide{
    position: absolute;
    left: 44%;
    bottom: 59%;
}

#rakvere{
    position: absolute;
    left: 53%;
    bottom: 85%;
}